    <!--Footer-->
    <footer class="page-footer text-center text-md-left font-small blue darken-3">
            

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright 
            <a href="http://www.bobbydreamer.com" target="_blank"> bobbydreamer.com </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="../mdb-js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../mdb-js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../mdb-js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../mdb-js/mdb.min.js"></script>