    <title><%= pageTitle %></title>

    <link rel="shortcut icon" href="../images/favicon2.ico" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome -->    
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="../3rdPartyCSS/font-awesome.min.css">
 
    <!-- Bootstrap core CSS -->
    <link href="../mdb-css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../mdb-css/mdb.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <!-- link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/jquery/tutorials/bootstrap/tutorial-1/3/css/style.css" rel="stylesheet" -->

    <!-- Firebase - Start -->
    <!-- Firebase App is always required and must be first -->
    <script defer src="/__/firebase/5.0.4/firebase-app.js"></script>

    <!-- Add additional services you want to use -->
    <script defer src="/__/firebase/5.0.4/firebase-auth.js"></script>
    <script defer src="/__/firebase/5.0.4/firebase-database.js"></script>
    <script defer src="/__/firebase/5.0.4/firebase-functions.js"></script>

    <!-- Comment out (or don't include) services you don't want to use -->
    <!--script src="/__/firebase/5.0.4/firebase-messaging.js"></script -->    
    <!--script src="/__/firebase/5.0.4/firebase-storage.js"></script -->

    <!--script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script-->
    
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <!-- Firebase - Ends -->

    <style>
        body {
            background-color: #1C2331;
        }        

        .bgPattern { background: #1C2331 url(../images/stash-pattern.png) center top; }				

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#64ffda;
}

        

  /*    .navbar.navbar-dark .navbar-brand, 
        .navbar.navbar-dark .navbar-brand:hover {
        color:  #03a9f4;
        }

        .navbar.navbar-dark .nav-item .nav-link:hover {
        color: #03a9f4!important;
        }
        .navbar.navbar-dark .nav-item .nav-link:focus {
        color: #FF8800!important;
        }
        .navbar.navbar-dark .nav-item .nav-link:visited {
        color: #0099CC!important;
        }
*/
    </style>