    <title><%= pageTitle %></title>

    <link rel="shortcut icon" href="../images/favicon2.ico" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome -->    
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="../3rdPartyCSS/font-awesome.min.css">
 
    <!-- Bootstrap core CSS -->
    <link href="../mdb-css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../mdb-css/mdb.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <!-- link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/jquery/tutorials/bootstrap/tutorial-1/3/css/style.css" rel="stylesheet" -->

    <!-- Firebase - Start -->
        <!-- update the version number as needed -->
        <script defer src="/__/firebase/4.12.1/firebase-app.js"></script>
        <!-- include only the Firebase features as you need -->
        <script defer src="/__/firebase/4.12.1/firebase-auth.js"></script>
        <script defer src="/__/firebase/4.12.1/firebase-database.js"></script>
        <!-- script defer src="/__/firebase/4.12.1/firebase-messaging.js"></script -->
        <!-- script defer src="/__/firebase/4.12.1/firebase-storage.js"></script -->
        <!-- initialize the SDK after all desired features are loaded -->
        <script defer src="/__/firebase/init.js"></script>    
    <!-- Firebase - Ends -->

    <style>
        body {
            background-color: #1C2331;
        }        

  /*    .navbar.navbar-dark .navbar-brand, 
        .navbar.navbar-dark .navbar-brand:hover {
        color:  #03a9f4;
        }

        .navbar.navbar-dark .nav-item .nav-link:hover {
        color: #03a9f4!important;
        }
        .navbar.navbar-dark .nav-item .nav-link:focus {
        color: #FF8800!important;
        }
        .navbar.navbar-dark .nav-item .nav-link:visited {
        color: #0099CC!important;
        }
*/
    </style>